[submodule "src/my.domain.plugin-name/libs"]
	path = src/my.domain.plugin-name/libs
	url = https://github.com/elgatosf/streamdeck-javascript-sdk
[submodule "src/net.gardna.sonoron.sdPlugin/libs"]
	path = src/net.gardna.sonoron.sdPlugin/libs
	url = https://github.com/elgatosf/streamdeck-javascript-sdk
